/* editor */
body {
  font-family: "IBM Plex Sans KR", sans-serif;
  background-color: #edf1d6;
}
.DiaryEditor {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
  background-image: url("https://www.artinsight.co.kr/data/tmp/2206/20220613133628_maqvywwk.jpg");
}

.DiaryEditor input,
textarea {
  margin-bottom: 20px;
  width: 500px;
}

.DiaryEditor input {
  padding: 10px;
}
.DiaryEditor textarea {
  padding: 10px;
  height: 150px;
}

.DiaryEditor select {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.DiaryEditor button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}
.DiaryItem textarea {
  height: 100px;
}
.Option {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
